* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

section {
  background-color: black;
  border-radius: 5px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 5rem;
  padding-right: 10px;
  padding-left: 10px;
}

h1 {
  text-align: center;
  padding: 10px;
  color: white;
}
p {
  text-align: center;
  padding-bottom: 10px;
  color: white;
  font-size: small;
}
h3 {
  text-align: center;
  color: rgb(163, 197, 9);
  font-size: medium;
}
h4 {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* what is the proper way to go about it */
img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.INSTAGRAM,
.Github,
.Twitter,
.TikTOK,
.Linkedin {
  background-color: rgb(36, 36, 36);
  color: white;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: padding-top 0.3s ease;
}
a {
  text-decoration: none;
  color: white;
}

.INSTAGRAM:hover,
.Github:hover,
.Twitter:hover,
.TikTOK:hover,
.Linkedin:hover {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fa-sun {
  color: white;
  font-size:x-large;
}
.fa-moon{
  font-size:x-large;
}

.container {
  position: relative;
  width: 30px;
  height: 60px;
}

.fa-moon,
.fa-sun {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.fa-moon {
  display: none;
}

.fa-moon,
.fa-sun {
  transition: opacity 0.3s ease;
}

@media (min-width: 1024px) {
  section {
    width: fit-content;
  }
  body {
    background-color: rgb(33, 32, 32);
    padding: 25%;
  }
}
